/* .light-mode {
    background-color: rgb(253, 253, 253);
}

.dark-mode {
    background-color: darkslategray;
} */

body {
    background-color: rgb(136, 97, 97);
}

h1 {
    color: blue;
}

.newsItem {
    background-color: aliceblue;
    list-style-type: none;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;

}